API_KEY=your_coingecko_api_key
URL_GECKO=https://api.coingecko.com/api/v3/simple/price?vs_currencies=usd&ids=bitcoin,ethereum,solana
URL_PAPRIKA=https://api.coinpaprika.com/v1/tickers/ton-toncoin
URL_COINLORE=https://api.coinlore.net/api/tickers/
DATABASE_URL=your_neon_database_url
